@import url("https://fonts.googleapis.com/css?family=BenchNine");

.fuente{
  font-family: "BenchNine", sans-serif;
}

img{
    margin: auto;
    display: block;
}

.item{
    font-size: 4vh;
    text-align: center;
}