@import url("https://fonts.googleapis.com/css?family=BenchNine");

*{
  font-family: "BenchNine", sans-serif;
}

p-card{
    text-align: center;
    font-size: 5vh;
}

p-chart{
    width: 40%;
}


#container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

p{
    font-size: 3vh;
}